<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/global.css" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="frame">
        <div class="main_frame">
    <div class="home-one-page-light">
      <div class="frame-parent">
        <div class="frame-wrapper">
          <div class="frame-group">
            <div class="marcos-wrapper">
              <div class="marcos"><%= user.name %></div>
            </div>
            <div class="heart"><%= user.profession %></div>
          </div>
        </div>
        <div class="frame-container">
          <div class="contact-divider-wrapper">
            <div class="contact-divider"></div>
          </div>
          <div class="job-title-parent">
            <div class="job-title">
              <div class="rectangle-parent">
                <div class="frame-child"></div>
                <div class="age">Age:</div>
              </div>
              <div class="image-overlay">
                <div class="image-overlay-child"></div>
                <div class="residence">Residence:</div>
              </div>
              <div class="info-container">
                <div class="info-container-child"></div>
                <div class="freelance">Freelance:</div>
              </div>
              <div class="age-info">
                <div class="age-info-child"></div>
                <div class="address">Address:</div>
              </div>
            </div>
            <div class="location">
              <div class="location-details">24</div>
              <div class="bd-wrapper">
                <div class="bd">BD</div>
              </div>
              <div class="available-wrapper">
                <div class="available">Available</div>
              </div>
              <div class="dhakabangladesh">Dhaka,Bangladesh</div>
            </div>
          </div>
          <div class="line-wrapper">
            <div class="frame-item"></div>
          </div>
          <div class="languages-parent">
            <div class="languages">Languages</div>
            <div class="language-list">
              <div class="language-item">
                <div class="language-name">
                  <div class="bangla">Bangla</div>
                  <div class="language-proficiency">100%</div>
                </div>
                <div class="line">
                  <div class="line-child"></div>
                  <div class="proficiency-indicator"></div>
                </div>
              </div>
              <div class="language-item1">
                <div class="english-parent">
                  <a class="english">English</a>
                  <div class="div">80%</div>
                </div>
                <div class="line1">
                  <div class="line-item"></div>
                  <div class="line-inner"></div>
                </div>
              </div>
              <div class="language-item2">
                <div class="blog-posts">
                  <div class="spanish">Spanish</div>
                  <div class="div1">60%</div>
                </div>
                <div class="line2">
                  <div class="rectangle-div"></div>
                  <div class="line-child1"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="line-container">
            <div class="frame-inner"></div>
          </div>
          <div class="skills">Skills</div>
          <div class="skills-list">
            <div class="skill-item">
              <div class="contact-info">
                <div class="html">Html</div>
                <div class="skill-proficiency">90%</div>
              </div>
              <div class="line3">
                <div class="line-child2"></div>
                <div class="skill-indicator"></div>
              </div>
            </div>
            <div class="skill-item1">
              <div class="form-container">
                <div class="css">CSS</div>
                <div class="div2">85%</div>
              </div>
              <div class="line4">
                <div class="line-child3"></div>
                <div class="line-child4"></div>
              </div>
            </div>
            <div class="skill-item2">
              <div class="js-parent">
                <div class="js">Js</div>
                <div class="div3">80%</div>
              </div>
              <div class="line5">
                <div class="line-child5"></div>
                <div class="line-child6"></div>
              </div>
            </div>
            <div class="php-parent">
              <div class="php">PHP</div>
              <div class="p-h-p">75%</div>
            </div>
            <div class="line-frame">
              <div class="line6">
                <div class="line-child7"></div>
                <div class="skill-separator"></div>
              </div>
            </div>
            <div class="skill-item3">
              <div class="wordpress-parent">
                <div class="wordpress">WordPress</div>
                <div class="div4">85%</div>
              </div>
              <div class="line7">
                <div class="line-child8"></div>
                <div class="line-child9"></div>
              </div>
            </div>
          </div>
          <div class="frame-div">
            <div class="line-div"></div>
          </div>
          <div class="extra-skills">
            <div class="extra-skills1">Extra Skills</div>
            <div class="icon-row-parent">
              <div class="icon-row">
                <div class="icon-pair-parent">
                  <div class="icon-pair">
                    <div class="icons">
                      <div class="icons1">
                        <div class="icons2">
                          <div class="icons3">
                            <div class="icons-child"></div>
                            <div class="skill-icon-background"></div>
                          </div>
                        </div>
                        <div class="icons4">
                          <div class="icons5">
                            <div class="skill-icon-background1"></div>
                            <div class="skill-icon-background2"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tech-stack">
                    <div class="tech-item">
                      <div class="agreement-checkbox"></div>
                      <img
                        class="profile-icon"
                        loading="lazy"
                        alt=""
                        src="images/profile@2x.png"
                      />

                      <img
                        class="images/facebook-icon"
                        alt=""
                        src="images/facebook.svg"
                      />

                      <img
                        class="instagram-icon"
                        alt=""
                        src="images/instagram.svg"
                      />

                      <img
                        class="twitter-icon"
                        alt=""
                        src="images/twitter.svg"
                      />

                      <img
                        class="linkeding-icon"
                        alt=""
                        src="images/linkeding.svg"
                      />

                      <img
                        class="youtube-icon"
                        alt=""
                        src="images/youtube.svg"
                      />

                      <img
                        class="dribbble-icon"
                        alt=""
                        src="images/dribbble.svg"
                      />
                    </div>
                    <div class="bootstrap-materialize">
                      Bootstrap, Materialize
                    </div>
                  </div>
                </div>
                <div class="icon-column-parent">
                  <div class="icon-column">
                    <div class="icons6">
                      <div class="icons7">
                        <div class="icons8">
                          <div class="icons9">
                            <div class="skill-icon-background3"></div>
                            <div class="skill-icon-background4"></div>
                          </div>
                        </div>
                        <div class="icons10">
                          <div class="icons11">
                            <div class="skill-icon-background5"></div>
                            <div class="skill-icon-background6"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="stylus-sass-less">Stylus, Sass, Less</div>
                </div>
              </div>
              <div class="icon-row1">
                <div class="frame-parent1">
                  <div class="icons-wrapper">
                    <div class="icons12">
                      <div class="icons13">
                        <div class="icons14">
                          <div class="icons15">
                            <div class="icons-item"></div>
                            <div class="icons-inner"></div>
                          </div>
                        </div>
                        <div class="icons16">
                          <div class="icons17">
                            <div class="icons-child1"></div>
                            <div class="icons-child2"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="gulp-webpack-grunt">Gulp, Webpack, Grunt</div>
                </div>
                <div class="frame-parent2">
                  <div class="icons-container">
                    <div class="icons18">
                      <div class="icons19">
                        <div class="icons20">
                          <div class="icons21">
                            <div class="icons-child3"></div>
                            <div class="icons-child4"></div>
                          </div>
                        </div>
                        <div class="icons22">
                          <div class="icons23">
                            <div class="icons-child5"></div>
                            <div class="icons-child6"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="git-knowledge">GIT Knowledge</div>
                </div>
              </div>
            </div>
          </div>
          <div class="frame-child1"></div>
        </div>
      </div>
      <section class="image-container-wrapper">
        <div class="image-container">
          <div class="image-content-wrapper">
            <div class="image-content">
              <img
                class="your-image-1"
                loading="lazy"
                alt=""
                src="images/your-image-1@2x.png"
              />

              <div class="background-image-parent">
                <div class="background-image"></div>
                <div class="overlay-shape"></div>
                <input class="overlay-shape1" type="checkbox" />

                <img
                  class="overlay-shape-icon"
                  alt=""
                  src="images/overlay-shape.svg"
                />

                <div class="frame-wrapper1">
                  <div class="language-details-parent">
                    <div class="language-details">
                      <div class="specialization-icon-wrapper">
                        <div class="specialization-icon"></div>
                      </div>
                      <div class="language-list1">
                        <h1 class="doctor-neurologists-in-container">
                          <p class="doctor-neurologists">Doctor neurologists</p>
                          <p class="in-ohsu-hospital">in OHSU Hospital</p>
                        </h1>
                        <div class="lorem-ipsum-dolor-sit-amet-co-wrapper">
                          <div class="lorem-ipsum-dolor">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Et, volutpat feugiat placerat lobortis.
                            Natoque rutrum semper sed suspendisse nunc lectus.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="booking-background-parent">
                      <input class="booking-background" type="checkbox" />

                      <div class="book-button-container">
                        <div class="book-button-wrapper">
                          <button class="buttonbook-me">
                            <div class="buttonbook-me1">
                              <div class="buttonbook-me2">
                                <div class="book-me-parent">
                                  <div class="book-me">HIRE ME</div>
                                  <div
                                    class="booking-button-icon-shape-wrapper"
                                  >
                                    <img
                                      class="booking-button-icon-shape"
                                      alt=""
                                      src="images/booking-button-icon-shape.svg"
                                    />
                                  </div>
                                </div>
                              </div>
                            </div>
                          </button>
                          <div class="booking-icon-wrapper">
                            <div class="booking-icon"></div>
                          </div>
                        </div>
                        <div class="booking-icon-container">
                          <div class="booking-icon1"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="skill-list">
            <div class="services-container">
              <div class="extra-skills-details">
                <div class="services-header">
                  <h1 class="my-services">my services</h1>
                </div>
                <div class="amet-minim-mollit">
                  Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                  amet sint. Velit officia consequat duis enim velit mollit.
                  lorem ipsum
                </div>
              </div>
            </div>
            <div class="web-development-parent">
              <div class="web-development">
                <div class="web-development-child"></div>
                <div class="web-dev-icons">
                  <img
                    class="iconscoding"
                    loading="lazy"
                    alt=""
                    src="images/iconscoding.svg"
                  />
                </div>
                <div class="web-dev-descriptions">
                  <div class="web-development1">web development</div>
                  <div class="mobile-design-subcategories">
                    <div class="blog-e-commerce">blog, e-commerce</div>
                  </div>
                </div>
              </div>
              <div class="uiux-design">
                <div class="uiux-design-child"></div>
                <div class="iconsillustration-wrapper">
                  <img
                    class="iconsillustration"
                    loading="lazy"
                    alt=""
                    src="images/iconsillustration.svg"
                  />
                </div>
                <div class="frame-parent3">
                  <div class="uiux-design-wrapper">
                    <div class="uiux-design1">uI/uX design</div>
                  </div>
                  <div class="mobile-app-website">
                    Mobile app, website design
                  </div>
                </div>
              </div>
              <div class="sound-design">
                <div class="sound-design-child"></div>
                <div class="iconsmicrophone-wrapper">
                  <img
                    class="iconsmicrophone"
                    loading="lazy"
                    alt=""
                    src="images/iconsmicrophone.svg"
                  />
                </div>
                <div class="frame-parent4">
                  <div class="sound-design-wrapper">
                    <div class="sound-design1">sound design</div>
                  </div>
                  <div class="voice-over-beat">Voice Over, Beat Making</div>
                </div>
              </div>
            </div>
          </div>
          <div class="game-design-parent">
            <div class="game-design">
              <div class="game-design-child"></div>
              <div class="creative-icons">
                <img
                  class="iconsgame-development"
                  loading="lazy"
                  alt=""
                  src="images/iconsgamedevelopment.svg"
                />
              </div>
              <div class="creative-descriptions">
                <div class="game-design1">game design</div>
              </div>
              <div class="character-design-props">
                Character Design, Props & Objects
              </div>
            </div>
            <div class="photography">
              <div class="photography-child"></div>
              <div class="iconsphotographer-wrapper">
                <img
                  class="iconsphotographer"
                  loading="lazy"
                  alt=""
                  src="images/iconsphotographer.svg"
                />
              </div>
              <div class="frame-parent5">
                <div class="photography-wrapper">
                  <div class="photography1">photography</div>
                </div>
                <div class="portrait-product-photography">
                  portrait, product photography
                </div>
              </div>
            </div>
            <div class="advertising">
              <div class="advertising-child"></div>
              <div class="advertising-wrapper">
                <div class="advertising1">advertising</div>
              </div>
              <div class="lorem-ipsum-dolor-sit-amet-co-parent">
                <div class="lorem-ipsum-dolor1">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae
                  nulla diam in ac dictum a urna viverra morbi.
                </div>
                <div class="order-now-button-container-wrapper">
                  <div class="order-now-button-container">
                    <div class="order-now-wrapper">
                      <b class="order-now">ORDER NOW</b>
                    </div>
                    <img
                      class="button-icon"
                      alt=""
                      src="images/frame-1.svg"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="right-menu">
        <div class="right-menu-child"></div>
        <div class="contrast-container">
          <img class="contrast-icon" alt="" src="images/contrast.svg" />
        </div>
        <div class="navigation-menu">
          <div class="home-link-container">
            <div class="home-link">
              <div class="union">
                <div class="icon-elements">
                  <div class="shape"></div>
                  <img
                    class="shape-icon"
                    alt=""
                    src="images/polygon-1-1.svg"
                  />
                </div>
              </div>
              <div class="home">Home</div>
            </div>
            <div class="home-button-container">
              <img
                class="home-icon"
                loading="lazy"
                alt=""
                src="images/home.svg"
              />
            </div>
          </div>
          <div class="menu-items">
            <img
              class="service-icon"
              loading="lazy"
              alt=""
              src="images/service.svg"
            />
          </div>
          <div class="menu-items1">
            <img class="cv-icon" loading="lazy" alt="" src="images/cv.svg" />
          </div>
          <div class="menu-items2">
            <img class="portfolio-icon" alt="" src="images/portfolio.svg" />
          </div>
          <div class="menu-items3">
            <img class="blog-icon" alt="" src="images/blog.svg" />
          </div>
          <div class="menu-items4">
            <img class="contact-icon" alt="" src="images/contact.svg" />
          </div>
        </div>
      </div>
    </div>
</div>
</div>
  </body>
</html>
